<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFReader3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PDF_Reader_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PDFReader3.Properties.Settings>
            <setting name="FontSetByUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastVersionRun" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="ColourScheme" serializeAs="String">
                <value>0</value>
            </setting>
        </PDFReader3.Properties.Settings>
        <PDF_Reader_3.Properties.Settings>
            <setting name="FontSetByUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>False</value>
            </setting>
        </PDF_Reader_3.Properties.Settings>
    </userSettings>
</configuration>